/pfToggle
/pfOpenssl
/pfExecWriteSeq
/pfAttack
/detectExecPages
/buildAllowList
/jsonToPlain
/pfBatchTraceGenerator
/pfOpenssl
/pfOSSHAttackEdDSA
/test
/pfOSSHRecoverEdDSAKey
/pfOSSLAttackECDH
/pfOSSLRecoverECDHKey
/pfToggle
/pfTraceGenerator
/recoverKey
